langchain
langchain_community
langchain_google_genai==1.0.1
PyPDF2
python-dotenv
streamlit
streamlit_extras
streamlit_pdf_viewer
openai
tiktoken
faiss-cpu
pip==24.2
langchain_cohere
langchain_core
grpcio
